@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-calendar/dist/Calendar.css';

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
